:root {
	--dmPrimaryColor: #60ba47;
	--dmAuthWidgetPadding: 2rem;
	--dmAuthWidgetBg: white;
	--dmAuthWidgetBorder: rgba(55, 110, 51, 0.16);
	--dmAuthWidgetRadius: 8px;
	// --dmBtnHoverBg: #4cb130;
	--dmBorderRadius: 6px;
	--dmTextColor: white;
	--dmInputBg: white;
	--dmInputBorder: #d9d9d9;
}
